<ul class="list-group" style="float: left; margin-left: 5px; width: 300px;">
    <li class="list-group-item">
        <span class="badge">{{ student.name }}</span>
        First name
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.surname }}</span>
        Last name
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.date_of_birth }}</span>
        Date of birth
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.email }}</span>
        Email
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.phone }}</span>
        Phone
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.package }}</span>
        Package
    </li>
</ul>