{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "dist/css/bootstrap.min.css" %}' rel="stylesheet">
    <script src='{% static "dist/js/bootstrap.js" %}'></script>
</head>

<body>
<h3 style="margin-left: 5px"><a href="/students"><span class="label label-default">Students</span></a></h3>

<h3 style="margin-left: 5px"><span class="label label-default">Student</span></h3>

<div style="float: left; margin-left: 5px;">
    {% if student %}
        <div style="border: 1px solid #000000; border-radius: 10px; padding: 10px; background-color: #dcdcdc">
            <img src="{% static 'img/student.jpg' %}" style="width: 150px"/>
        </div>
    {% endif %}
</div>

<ul class="list-group" style="float: left; margin-left: 5px; width: 300px;">
    <li class="list-group-item">
        <span class="badge">{{ student.name }}</span>
        First name
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.surname }}</span>
        Last name
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.date_of_birth }}</span>
        Date of birth
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.email }}</span>
        Email
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.phone }}</span>
        Phone
    </li>
    <li class="list-group-item">
        <span class="badge">{{ student.package }}</span>
        Package
    </li>
</ul>

</body>
</html>