<ul class="list-group" style="float: left; margin-left: 5px; width: 500px;">
    <li class="list-group-item">
        <span class="badge">{{ course.name }}</span>
        Name
    </li>
    <li class="list-group-item">
        <span class="badge">{{ course.language }}</span>
        Language
    </li>
    <li class="list-group-item">
        <span class="badge">{{ course.description }}</span>
        Description
    </li>
    <li class="list-group-item">
        <span class="badge">{{ course.coach }}</span>
        Coach
    </li>
    <li class="list-group-item">
        <span class="badge">{{ course.assistant }}</span>
        Assistant
    </li>
    <li class="list-group-item">
        <span class="badge">{{ course.date_of_beginning }}</span>
        Date of beginning
    </li>
    <li class="list-group-item">
        <span class="badge">{{ course.date_of_finishing }}</span>
        Date of finishing
    </li>
</ul>